<!-- 🔹 GIAO DIỆN GIỎ HÀNG TRỐNG -->
<div class="cart-empty-page">
    <img src="/media/icons/empty-cart.png" alt="Empty cart" class="empty-cart-img" />
    <h3>“Hổng” có gì trong giỏ hết!</h3>
    <p>Hãy lướt và lựa chọn sản phẩm mà bạn muốn nhé!</p>
    <a href="/Customer/Index" class="cart-btn cart-btn-primary">Mua sắm ngay!</a>
</div>